$white: #fff;
$black: #333; 
$gray: #d9d9d9;
$gray_light: #7f7f7f;
$gray_dark: #666;
$gyBackgroud: #f5f5f5;
$yx_theme: #b4282d;

@mixin block($width, $height){
	width: $width;
	height: $height;
	display: inline-block;
}

@mixin flex($justify: space-between, $align: center){
	display: flex;
	justify-content:$justify;
	align-items: $align; 
} 


/** position **/
@mixin posFixed($zIndex: 1, $top: 0, $left: 0){
	position: fixed;
	top: $top;
	left: $left; 
	z-index: $zIndex;
}
 
/** black Font **/
@mixin blackFont($fontSize: 14px){
	color: $black;
	font-size: $fontSize;
}

@mixin point($color: $yx_theme, $w: 4px, $h: 4px){
	content: "";
    width: $w;
    height: $h;
    background: $color;
    border-radius: 100%; 
} 
   

/**
* @Desc 1px match iphone
* @Use @extend scale-1px 
 **/
.scale-1px{
	position: relative;
	border: none;
	&:after{
		content: '';
		position: absolute;
		height: 1px;
		width: 100%;
		bottom: 0;
		transform: scaleY(.5);
		transform-origin: 0, 0;
	}
}